
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>mi pagina</h1>
        <nav>
            <a href="main.html"></a>
            <a href="pagina 2"></a>
            <a href="footer"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>sobre mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam autem laborum ipsa exercitationem ex nam placeat animi aliquam. Odio dolorem magnam ducimus ipsa nemo eaque autem veniam cupiditate porro nisi.</p>
        </section>
    </main>
    <footer>ENZO 2222</footer>
    <h1 style="color: blue;">messi</h1>
    <h2><menu>pagina 2</menu></h2>
    <img src="imagenes/WIN_20250423_15_09_44_Pro.jpg" alt="">

    <ol>
        <p>tengo 17 años</p>
        <p>me gusta jugar al futbol</p>
        <li</li>
    </ol>
    <p><br>
        <span style="color: brown;"></span>
    <p></p>
</body>

</html>
