{% extends "base.html" %}

{% block title%} proyectos {% endblock %}

{% block content%}
<section class="proyectos">
    <div class="grid">
         <div class="card">
            <h3>proyecto</h3>
            <p>defincion de proyectos</p>
         </div>
         <div class="card">
            <h3>proyecto</h3>
            <p>defincion de proyectos</p>
         </div>
         <div class="card">
            <h3>proyecto</h3>
            <p>defincion de proyectos</p>
         </div>
    </div>

</section>
{% endblock%}